<div class="col-md-12">
    <div class="panel  panel-info">
        <div class="panel-heading">Crear Tarea</div>
        <div class="panel-body">
            <form class="col-md-7">
                <div class="form-group">
                    <label>Nombre de la tarea</label>
                    <textarea class="form-control" ng-model="tarea.nombre">
                    </textarea>
                </div>
                <hr/>
                <a class="btn btn-default" ng-click="guardar()">Guardar</a>
            </form>

        </div>
    </div>
</div>
